.parentul{
   
    margin-top: 20px;
    width: 60%;
}

.listitem{
    list-style: none;
    background-color: blue;

    color: white;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 20px;
text-transform: capitalize;
}